body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #000;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #ffd700;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-content {
    flex: 3;
    padding: 2em;
}

aside.chat {
    flex: 1;
    background-color: #333;
    padding: 2em;
    margin: 2em;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

section {
    padding: 2em;
    border-bottom: 1px solid #ffd700;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 2em;
}

form {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
}

form button {
    background-color: #ffd700;
    color: #000;
    cursor: pointer;
    border: none;
}

#galeria, #mensajes, #lista-eventos, #chat-mensajes {
    background-color: #333;
    padding: 1em;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

#galeria img, #mensajes div, #lista-eventos div, #chat-mensajes div {
    margin-bottom: 1em;
}

aside.chat h2 {
    margin-top: 0;
    text-align: center;
    border-bottom: 1px solid #ffd700;
    padding-bottom: 0.5em;
}

#chat-form {
    display: flex;
    position: absolute;
    bottom: 2em;
    width: calc(100% - 4em);
}

#chat-form input {
    flex: 1;
    margin-right: 0.5em;
    padding: 0.5em;
}

#chat-form button {
    padding: 0.5em 1em;
}

#chat-mensajes {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 1em;
    background-color: #444;
}

.mensaje {
    background-color: #555;
    padding: 0.5em;
    border-radius: 5px;
    margin-bottom: 0.5em;
    position: relative;
    max-width: 80%;
    word-wrap: break-word;
}

.mensaje img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.mensaje p {
    margin: 0;
}

.mensaje::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}