<br>
<br>
<br>
<br>
<header>
    <h1>MARKET PLACE</h1>
</header>
<div class="container main">
    <!-- Sección de productos -->
    <section class="productos">
        <br>
        <br>
        <br>
        <br>
        <h2 class="section-title">Productos CLVT</h2>
        <div class="productos-container">
            <div class="product" id="product1">
                <img src="assets/img/loto.jpg" alt="Producto 1">
                <h3>Loto Candel</h3>
                <p>Flor de loto ideal para sesiones de skate o scooter. También es estupendo para regalar.</p>
                <p class="price">11.99€</p>
                <button class="buy-btn" data-product-id="1">Comprar</button>
            </div>
            <div class="product" id="product2">
                <img src="assets/img/camiseta.png" alt="Producto 2">
                <h3>Camiseta CLVT Asociado</h3>
                <p>Camiseta 100% algodón, muy cómoda y ligera, con logotipo en el reverso. Ideal para vestir o entrenar.</p>
                <p class="price">19.99€</p>
                <button class="buy-btn" data-product-id="2">Comprar</button>
            </div>
            <div class="product" id="product3">
                <img src="assets/img/skate.png" alt="Producto 3">
                <h3>CLVT ONE Tabla Skateboard</h3>
                <p>Tabla de skate 100% arce canadiense, con la que harás skate con la mayor calidad y estilo posible.</p>
                <p class="price">54,99 €</p>
                <button class="buy-btn" data-product-id="3">Comprar</button>
            </div>
            <!-- Más productos aquí -->
        </div>
    </section>

    <section class="productos">
        <h2 class="section-title">Productos más vendidos</h2>
        <div class="productos-container">
            <div class="product" id="product4">
                <img src="assets/img/loto.jpg" alt="Producto 1">
                <h3>Loto Candel</h3>
                <p>Flor de loto ideal para sesiones de skate o scooter. También es estupendo para regalar.</p>
                <p class="price">11.99€</p>
                <button class="buy-btn" data-product-id="4">Comprar</button>
            </div>
            <div class="product" id="product5">
                <img src="assets/img/camiseta.png" alt="Producto 2">
                <h3>Camiseta CLVT Asociado</h3>
                <p>Camiseta 100% algodón, muy cómoda y ligera, con logotipo en el reverso. Ideal para vestir o entrenar.</p>
                <p class="price">19.99€</p>
                <button class="buy-btn" data-product-id="5">Comprar</button>
            </div>
            <div class="product" id="product6">
                <img src="assets/img/gorra.png" alt="Producto 4">
                <h3>GORRA GR Olive/Grey CLVT</h3>
                <p>Gorra snapback de rejilla, transpirable. Color verde oliva o gris claro. Adaptable a cualquier medida, perfecta para todo tipo de personas y actividades.</p>
                <p class="price">14,99€</p>
                <button class="buy-btn" data-product-id="6">Comprar</button>
            </div>
        </div>
    </section>

    <section class="productos">
        <h2 class="section-title">Ofertas</h2>
        <div class="productos-container">
            <div class="product" id="product7">
                <img src="assets/img/terapeutico1.jpg" alt="Producto 10">
                <h3>Crema reparadora de manos</h3>
                <p>Nutre, revitaliza e hidrata tus manos. Producto 100% natural, hecho a mano.</p>
                <p class="price"><span style="text-decoration: line-through; color: #888;">20.00€</span> 14.99€</p>
                <button class="buy-btn" data-product-id="7">Comprar</button>
            </div>
            <div class="product" id="product8">
                <img src="assets/img/terapeutico2.jpg" alt="Producto 11">
                <h3>Stick labial</h3>
                <p>Nutre e hidrata tus labios con los componentes más naturales del mercado.  Producto 100% natural, hecho a mano. </p>
                <p class="price"><span style="text-decoration: line-through; color: #888;">15.00€</span> 7.99€</p>
                <button class="buy-btn" data-product-id="8">Comprar</button>
            </div>
            <div class="product" id="product9">
                <img src="assets/img/terapeutico3.jpg" alt="Producto 12">
                <h3>Exfoliante exótico</h3>
                <p>Exfoliante exótico sensual afrodisiaco.</p>
                <p class="price"><span style="text-decoration: line-through; color: #888;">20.00€</span> 14.99€</p>
                <button class="buy-btn" data-product-id="9">Comprar</button>
            </div>
        </div>
    </section>

    <section class="productos">
        <h2 class="section-title">Novedades</h2>
        <div class="productos-container">
            <div class="product" id="product10">
                <img src="assets/img/baker.png" alt="Producto 10">
                <h3>JACOPO POWER UP AGAIN DECK</h3>
                <p>Tabla de la marca baker, de luigi.</p>
                <p class="price">72.39€</p>
                <button class="buy-btn" data-product-id="10">Comprar</button>
            </div>
            <div class="product" id="product11">
                <img src="assets/img/Kenny.png" alt="Producto 11">
                <h3>South Park Skate Base</h3>
                <p>Base de skateboard de calidad hecha de una combinación de 7-ply de arce y arce canadiense y de epoxy. La madera de arce duro dota a esta tabla de pop adicional y longevidad adicional.</p>
                <p class="price">54.95€</p>
                <button class="buy-btn" data-product-id="11">Comprar</button>
            </div>
            <div class="product" id="product12">
                <img src="assets/img/baker2.png" alt="Producto 12">
                <h3>CASPER STACKED BLK DECK B2</h3>
                <p>Base de skateboard de calidad hecha de una combinación de 7-ply de arce y arce canadiense y de epoxy. La madera de arce duro dota a esta tabla de pop adicional y longevidad adicional.</p>
                <p class="price">72.39€</p>
                <button class="buy-btn" data-product-id="12">Comprar</button>
            </div>
            <div class="product" id="product13">
                <img src="assets/img/rodillo.jpg" alt="Producto 13">
                <h3>Foam roller /Rodillo masaje duro hard azul</h3>
                <p>Rodillo perfecto para relajar y masajear la espalda, los muslos, las pantorrillas... Este rodillo duro y estructurado (con picos) es ideal para calentar o recuperar después de entrenar con un automasaje.</p>
                <p class="price">15.45€</p>
                <button class="buy-btn" data-product-id="13">Comprar</button>
            </div>
            <div class="product" id="product14">
                <img src="assets/img/masaje.jpg" alt="Producto 14">
                <h3>Pistola de masaje muscular</h3>
                <p>Con esta pistola de masaje puedes relajar tus músculos gracias a sus 6 cabezales y 30 niveles diferentes! Incluye maletín para transportarlo donde quieras. Su uso es sencillo y silencioso.</p>
                <p class="price">52.95€</p>
                <button class="buy-btn" data-product-id="14">Comprar</button>
</div>
