<!-- body.html -->
<div id="app">
    <div class="container">
        <div class="info-box">
            <div class="info-container">
                <div class="info-icon Equipo"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/icons/equipo-icon.png" alt="Equipo"></div>
                <div class="info-icon FAQ"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/icons/faq-icon.png" alt="FAQ"></div>
                <div class="info-icon Ubicación"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/icons/ubicacion-icon.png" alt="Ubicación"></div>
                <div class="info-icon Valores"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/icons/valores-icon.png" alt="Valores"></div>
            </div>
        </div>
        <div class="slider-container">
            <div class="slider">
                <div class="slides">
                    <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/ImagenAD/imagenAD.png" alt="Soporte Administrativo"></div>
                    <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/imagenDeport/2.png" alt="Clases particulares y tallers de skateboard"></div>
                    <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/ImagenDigital/imagenDigital.png" alt="Asesoria Digital"></div>
                    <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/imagenSocioCultural/imagenEducat2.jpg" alt="Retiros educativos"></div>
                    <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/ImagenAD/imagenAD3.jpg" alt="Organización de eventos"></div>
                    <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/imagenDeport/7.png" alt="Casal de actividades"></div>
                    <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/ImagenDigital/imagenDigital2.png" alt="Creación, desarrollo y mantenimiento WebApp"></div>
                    <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/imagenSocioCultural/imagenEvento3.jpg" alt="Eventos educativos"></div>
                </div>
            </div>
        </div>
        <div class="social-box">
            <div class="social-icons">
                <div class="social-icon facebook"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/icons/fb-icon.png" alt="Facebook"></div>
                <div class="social-icon twitter"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/icons/twitter-icon.png" alt="Twitter"></div>
                <div class="social-icon instagram"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/icons/inst-icon.png" alt="Instagram"></div>
                <div class="social-icon linkedin"><img src="/TFT-Services/FRONTEND/src/assets/IMAGENES FRONT/icons/lnkd-icon.png" alt="LinkedIn"></div>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <h3>CONTACTO:</h3>
        <div class="contact-content">
            <form class="contact-form">
                <input type="text" placeholder="Your Name" required>
                <input type="email" placeholder="Your Email" required>
                <textarea placeholder="Your Message" rows="4" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
