.register-container {
  background-color: #1a1a1a; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.register-container h1 {
  margin-bottom: 20px;
  color: #ddb81a; 
}

.register-container input[type="text"],
.register-container input[type="password"],
.register-container input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #ddb81a; 
  color: #000; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.register-container button:hover {
  background-color: #b59517; 
}

.register-container .login-link {
  margin-top: 20px;
  display: block;
  color: #ddb81a; 
  text-decoration: none;
}

.register-container .login-link:hover {
  text-decoration: underline;
}
