<!-- home.component.html -->
<div class="video-banner">
    <iframe src="/TFT-Services/FRONTEND/src/assets/background-PF.png" frameborder="0" allowfullscreen></iframe>
<div class="container">
    <div class="info-box">
        <div class="info-container">
            <div class="info-icon Equipo"><img src="/TFT-Services/FRONTEND/src/assets/icons/equipo-icon.png" alt="Equipo"></div>
            <div class="info-icon FAQ"><img src="/TFT-Services/FRONTEND/src/assets/icons/faq-icon.png" alt="FAQ"></div>
            <div class="info-icon Ubicación"><img src="/TFT-Services/FRONTEND/src/assets/icons/ubicacion-icon.png" alt="Ubicación"></div>
            <div class="info-icon Valores"><img src="/TFT-Services/FRONTEND/src/assets/icons/valores-icon.png" alt="Valores"></div>
        </div>
    </div>
    <div class="slider-container">
        <div class="slider">
            <div class="slides">
                <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/imagenAD.png" alt="Soporte Administrativo"></div>
                <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/imagenDeport/2.png" alt="Clases particulares y tallers de skateboard"></div>
                <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/imagenDigital.png" alt="Asesoria Digital"></div>
                <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/imagenEducat2.jpg" alt="Retiros educativos"></div>
                <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/imagenAD3.jpg" alt="Organización de eventos"></div>
                <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/7.png" alt="Casal de actividades"></div>
                <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/imagenDigital2.png" alt="Creación, desarrollo y mantenimiento WebApp"></div>
                <div class="slide"><img src="/TFT-Services/FRONTEND/src/assets/imagenEvento3.jpg" alt="Eventos educativos"></div>

            </div>
        </div>
    </div>
    <div class="social-box">
        <div class="social-icons">
            <div class="social-icon facebook"><img src="/TFT-Services/FRONTEND/src/assets/fb-icon.png" alt="Facebook"></div>
            <div class="social-icon twitter"><img src="/TFT-Services/FRONTEND/src/assets/twitter-icon.png" alt="Twitter"></div>
            <div class="social-icon instagram"><img src="/TFT-Services/FRONTEND/src/assets/inst-icon.png" alt="Instagram"></div>
            <div class="social-icon linkedin"><img src="/TFT-Services/FRONTEND/src/assets/icons/lnkd-icon.png" alt="LinkedIn"></div>
        </div>
    </div>
</div>
<div class="contact-section">
    <h3>CONTACTO:</h3>
    <div class="contact-content">
        <form class="contact-form">
            <input type="text" placeholder="Nombre y apellidos" required>
            <input type="email" placeholder="E-mail" required>
            <input type="text" placeholder="Núm. teléfono" required>
            <textarea placeholder="Comentarios..." rows="1" optional></textarea>
            <select required>
                <option value="servicios" disabled selected>Selecciona un servicio</option>
                <option value="servicio1">Servicio Administrativo</option>
                <option value="servicio2">Servicio Digital</option>
                <option value="servicio3">Servicio Fisico-deportivo</option>
                <option value="servicio4">Servicio Sociocultural</option>
            </select>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>