<div class="container main">
  <section class="servicios">
      <h2>Nuestros servicios</h2>
      <div class="service-grid">
          <div class="service">

              <a href="/terapeuticos">
                  <img public="assets/img/ejercicios-terapeuticos.jpg" alt="Servicio 1">
                  <h3>Servicio Terapeutico</h3>
              </a>
          </div>

          <div class="service">
              <a href="/administrativos">
                  <img src="assets/administrativo.jpg" alt="Servicio 2">
                  <h3>Servicio Administrativo</h3>
              </a>
          </div>

          <div class="service">
              <a href="/digitales">
                  <img src="assets/digitales-serv.jpg" alt="Servicio 3">
                  <h3>Servicio Digital</h3>
              </a>
          </div>

          <div class="service">
              <a href="/fisico-deportivos">
                  <img src="assets/fisico-dep.jpeg" alt="Servicio 4">
                  <h3>Servicio Fisico-Deportivo</h3>
              </a>
          </div>
          
          <div class="service">
              <a href="/educativos-socioculturales">
                  <img src="assets/sociocultural.jpg" alt="Servicio 5">
                  <h3>Servicios Educativos y Socioculturales</h3>
              </a>
          </div>         
      </div>
  </section>
</div>
<footer class="footer">
  <div class="footer-content">
      <div class="footer-section about">
          <h2>VALODI Services</h2>
          <p>&copy; 2024 VALODI Services. Todos los derechos reservados.</p>
          <p>Ofrecemos una amplia gama de servicios para satisfacer todas tus necesidades. Contáctanos para más información.</p>
      </div>
      <div class="footer-section links">
          <h2>Enlaces Rápidos</h2>
          <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Colaboradores</a></li>
          </ul>
      </div>
      <div class="footer-section contact">
          <h2>Contacto</h2>
          <p>Email: info.valodiservices.com</p>
          <p>Teléfono: +123 456 7890</p>
          <div class="footer-section location">
            <h2>Ubicación</h2>
            <p>Calle Falsa 123</p>
            <p>Ciudad, País</p>
            <p>Código Postal: 12345</p>
          </div>
      </div>
  </div>
</footer>