body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

header {
    background: #000;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ffc107 3px solid;
}

header a {
    color: #ffc107;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.main {
    padding: 20px;
    background: #fff;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
}

.service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service {
    background: #000;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    flex: 0 0 calc(33.333% - 20px);
    color: #fff;
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.service h3 {
    color: #ffc107;
}

.footer {
    background-color: #000000;
    color: white;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    border-top: 2px solid #dbb81a;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
  }
  
  .footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #dbb81a;
  }
  
  .footer-section .socials a {
    color: white;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s;
  }
  
  .footer-section .socials a:hover {
    color: #dbb81a;
  }
  
  /* Media Queries for Mobile */
  @media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
  
    .footer-section {
        text-align: center;
    }
  }