<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2>VALODI Services</h2>
            <p>&copy; 2024 VALODI Services. Todos los derechos reservados.</p>
            <p>Ofrecemos una amplia gama de servicios para satisfacer todas tus necesidades. Contáctanos para más información.</p>
        </div>
        <div class="footer-section links">
            <h2>Enlaces Rápidos</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/servicios">Servicios</a></li>
                <li><a routerLink="/sobre-nosotros">Sobre nosotros</a></li>
                <li><a routerLink="/productos">Productos</a></li>
                <li><a routerLink="/colaboradores">Colaboradores</a></li>
                <li><a routerLink="/comunidad">Comunidad</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contacto</h2>
            <p>Email: infovalodisg-ejemplo.com</p>
            <p>Teléfono: +34 722 199 574</p>
            <div class="footer-section location">
              <h2>Ubicación</h2>
              <p>Avenida Vidal i Barraquer 8.</p>
              <p>Cambrils, España</p>
              <p>Código Postal: 43850</p>
            </div>
        </div>
    </div>
</footer>
