<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2>VALODI Services</h2>
            <p>&copy; 2024 VALODI Services. Todos los derechos reservados.</p>
            <p>Ofrecemos una amplia gama de servicios para satisfacer todas tus necesidades. Contáctanos para más información.</p>
        </div>
        <div class="footer-section links">
            <h2>Enlaces Rápidos</h2>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Colaboradores</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contacto</h2>
            <p>Email: info.valodiservices.com</p>
            <p>Teléfono: +123 456 7890</p>
            <div class="footer-section location">
              <h2>Ubicación</h2>
              <p>Calle Falsa 123</p>
              <p>Ciudad, País</p>
              <p>Código Postal: 12345</p>
            </div>
        </div>
    </div>
  </footer>