<div class="colaboradores-container">
    <h1>Nuestros Colaboradores</h1>
    <div class="colaborador">
      <img src="/assets/img/LogoCLVT.png" alt="Colaborador 1">
      <div class="colaborador-info">
        <h2>Asociación Cultivate</h2>
          <p>Dedicados a las disciplinas del skateboard y el scooter. Unidos para ayudar en el aprendizaje de estas grandes modalidades
           y la cultura que las rodea.
           Organizamos eventos de skateboard y scooter, talleres de entrenamiento básico, programa de entrenamiento optimizado,
           clases particulares de skate y scooter; y comercializamos nuestros productos CLVT como camisetas, sudaderas, gorras, 
           tablas de skate y ceras.</p>
      </div>
    </div>
    <div class="colaborador">
      <img src="assets/img/terapeutico5.jpg" alt="colaborador 2">
      <div class="colaborador-info">
        <h2>Creer es Crear</h2>
        <p>Milena López Díaz. Terapeuta profesional con más de 15 años de experiencia en la atención sociosanitaria geriatrica y personal, y
          más de cinco años en el sector de la aromaterapia que hacen de Milena una profesional experta en su sector con una vocación por el 
          servicio inigualable.</p>
      </div>
    </div>
  </div>