body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  border-bottom: #ffc107 3px solid;
  text-align: center;
}

header a {
  color: #ffc107;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

header li {
  display: inline;
  padding: 0 20px;
}

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .profile-container h2 {
    text-align: center;
  }
  
  .profile-container form {
    display: flex;
    flex-direction: column;
  }
  
  .profile-container label {
    margin-bottom: 5px;
  }
  
  .profile-container input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DBB81A;
    color: white;
    cursor: pointer;
  }
  
  .profile-container button:hover {
    background-color: #aaa315;
  }
  .footer {
    background-color: #000000;
    color: white;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    border-top: 2px solid #dbb81a;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
  }
  
  .footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #dbb81a;
  }
  
  .footer-section .socials a {
    color: white;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s;
  }
  
  .footer-section .socials a:hover {
    color: #dbb81a;
  }
  
  /* Media Queries for Mobile */
  @media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
  
    .footer-section {
        text-align: center;
    }
  }
.section-title {
    text-align: center;
    margin: 40px 0;
    color: #333;
}