.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
  }
  
  .auth-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ddb81a;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .auth-form button:hover {
    background-color: #b59517;
  }
  