<!-- header.html -->
<nav class="navbar">
    <div class="logo">
        <a routerLink="/">VALODI Services</a>
    </div>
    <ul class="nav-links">
        <li><a routerLink="/about">Sobre nosotros</a></li>
        <li><a routerLink="/services">Servicios</a></li>
        <li><a routerLink="/products">Productos</a></li>
        <li><a routerLink="/collaborators">Colaboradores</a></li>
    </ul>
    <div class="auth-buttons">
        <a routerLink="/login" class="login-btn">Login</a>
        <a routerLink="/register" class="signup-btn">Sign Up</a>
    </div>
</nav>
