<br>
<br>
<br>
<br>
<br>
<header>
    <h1>Servicio Terapéutico</h1>
</header>
<div class="container">
    <div class="section">
        <h2>AROMATERAPIA Y MASAJES TERAPÉUTICOS</h2>
        <p>De lunes a viernes. De 9h a 13h y de 17h a 19h.</p>
        <p>1 hora por sesión.</p>
        <p>Pack de sesiones disponibles.</p>
    </div>
    <div class="section">
        <h2>Milena López Díaz. "Creer es Crear".</h2>
        <img src="/assets/img/terapeutico5.jpg" alt="Descripción de la imagen">
        <section class="productos">
            <div class="productos-container">
                <div class="product" id="product7">
                    <img src="assets/img/terapeutico1.jpg" alt="Producto 10">
                </div>
                <div class="product" id="product8">
                    <img src="assets/img/terapeutico2.jpg" alt="Producto 11">
                </div>
                <div class="product" id="product9">
                    <img src="assets/img/terapeutico3.jpg" alt="Producto 12">
                </div>
            </div>
        </section>
        <p>Terapeuta profesional certificada y productos naturales de cosmética natural.</p>
    </div>
    <div class="section">
        <h2>INFORMACIÓN DE SERVICIO</h2>
        <p>Su vocación al servicio, junto a 15 años de experiencia en el sector sociosanitario, más de 5 años en el camino de la
            aromaterapia natural, avalan a Milena y su decisión de emprender este apasionante proyecto como terapeuta profesional,
            experimentando el autoconcimiento y cuidado propio mediante terapias naturales, que nos permiten conocer de que manera
            habla nuestro cuerpo, la conexión emocional que aporta esta información y de que manera afrontarla.</p>
        <a href="#" class="button">Leer Más</a>
    </div>
</div>
